---
layout: default
background: "url(/images/skyline.png) #00BBFF"
excerpt: "Bitcoin events and information in Manchester"
---

<header>
  <div class="c">
    <h1>Bitcoin Manchester</h1>
    <p class="lead">Bitcoin events and information in Manchester</p>
  </div>
</header>

<!-- END COVER -->
</div>
</div>

<section class="home">
  <div class="c">

      <h2>Upcoming Meetups & Events</h2>
      <div class="meetups">
        {% assign current_date = site.time | date: '%s' %}
        {% for post in site.posts %}
        {% if post.layout == "meetup" %}
            {% assign post_start_date = post.date | date: '%s' %}
            {% if post_start_date > current_date %}
              <a class="post-link white-box" href="{{ post.url | prepend: site.baseurl }}">
                <div class="preview" style="background:{{ post.background }}">
                  <div class="date">
                      <small>{{ post.date | date: "%b" }}</small>
                      {{ post.date | date: "%-d" }}
                  </div>
                </div>
                <h3>{{ post.title }}</h3>
                <p>
                  {{ post.date | date: "%l:%M%P" }}
                  @
                  {{ post.venue }}
                  <i class="icon-ol-location"></i>
                  {{ post.address }}
                </p>
              </a>
              <br>
            {% endif %}
            {% endif %}
          {% endfor %}
        </div>
        <br>

        <h2>Recent happenings</h2>
        <div class="meetups">
          {% assign current_date = site.time | date: '%s' %}

          {% assign count = 0 %}
          {% assign recent_limit = 5 %}


            {% for post in site.posts %}
              {% assign post_start_date = post.date | date: '%s' %}
              {% if current_date > post_start_date %}

              <a class="post-link white-box" href="{{ post.url | prepend: site.baseurl }}">
                <div class="preview" style="background:{{ post.background }}">
                  <div class="date">
                      <small>{{ post.date | date: "%b" }}</small>
                      {{ post.date | date: "%-d" }}
                  </div>
                </div>
                <h3>{{ post.title }}</h3>
                {% if post.layout == "meetup" %}
                <p>
                  {{ post.date | date: "%l:%M%P" }}
                  @
                  {{ post.venue }}
                  <i class="icon-ol-location"></i>
                  {{ post.address }}
                </p>

                {% else %}

                {% if post.subtitle %}
                <p>{{ post.subtitle }}</p>
                {% else %}
                <p>{% if post.author %}Written by +{{ post.author }}{% endif %}</p>
                {% endif %}
                {% endif %}
              </a>
              <br>
              {% assign count = count | plus: 1 %}
              {% if count >= recent_limit %}
              {% break %}
              {% endif %}
              {% endif %}
            {% endfor %}
          </div>

          <p>
            <a href="/meetups/">All Meetups</a>
          </p>


  </div>
</section>
