<footer>

  <div class="c">
    <div class="row">
      <div class="col-33">
        <h3>Bitcoin Manchester</h3>
        <p>Promoting Bitcoin and cryptocurrency technology by connecting people in and around Manchester</p>
        <p>
          <a href="/about"><i class="icon-user"></i> Learn more</a>
          <a href="mailto:hello@bitcoinmanchester.org.uk" target="_blank">
            <i class="icon-envelope"></i> hello@bitcoinmanchester.org.uk
          </a>
        </p>
      </div>
      <div class="col-33">
        &nbsp;
      </div>

      <div class="col-33" style="text-align:center;">
        <img id="site-logo" src="/images/site-logo.png" alt="Bitcoin Manchester logo">
      </div>
    </div>
  </div>

</footer>

<div class="footnote">
  <div class="c">
    <a class="to-the-moon right" href="#top"><i class="icon-pointer-up"></i> Back to Top</a>
    <p>
      <a href="https://github.com/{{ site.github }}/" target="_blank"><i class="icon-github"></i> Hosted on GitHub</a>
    </p>
  </div>
</div>

<script src="/scripts/site.js"></script>
