<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

      {{ content }}

    {% include footer.html %}

    </body>

 <!--[if (lt IE 9) & (!IEMobile)]>
 <script src="js/libs/DOMAssistantCompressed-2.8.js"></script>
 <script src="js/libs/selectivizr-1.0.1.js"></script>
 <script src="js/libs/respond.min.js"></script>
 <![endif]-->

 <!-- http://t.co/HZe9oJ4 -->
 <script>
 var _gaq=[['_setAccount','UA-41406370-1'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
 (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
 g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
 s.parentNode.insertBefore(g,s)}(document,'script'));
 </script>
 <noscript>Your browser does not support JavaScript!</noscript>

</html>