---
layout: default
---
  <header class="post-header">
    <div class="c">
      <div class="date">
        <small>{{ page.date | date: "%b" }}</small>
        {{ page.date | date: "%-d" }}
      </div>
      <h1>{{ page.title }}</h1>
      <p class="lead">
        {{ page.date | date: "%l:%M%P" }}
        {% if page.venue %}
          @
          {{ page.venue }}
        {% endif %}
        {% if page.address %}
          <i class="icon-pin"></i>
          {{ page.address }}
        {% endif %}
        {% if page.meta %}
          •
          {{ page.meta }}
        {% endif %}
      </p>
    </div>
  </header>

  {% assign curDate = site.time | date: '%s' %}
  {% assign postStartDate = post.date | date: '%s' %}

  <div id="details">
    <div class="c">
      <p class="lead">
        {% if page.venue %}
          Hosted at {{ page.venue }}
        {% endif %}
        {% if page.venue_location_link %}
          •
          <a href="{{ page.venue_location_link }}" target="_blank">
          <i class="icon-binocular"></i>
          Get Directions
          </a>
        {% endif %}
        {% if page.link %}
          •
          <a href="{{ page.link }}" target="_blank">
          <i class="icon-board"></i> RSVP</a>
        {% endif %}
      </p>
    </div>
  </div>

<!-- END COVER -->
</div>
</div>

<section class="post">
  <div class="c">
  <article class="post-content">
  <p></p>
  {{ content }}
  </article>

  </div>
</section>
